*{
	padding: 0;
	margin: 0;
	font-family:monotype corsiva;
	text-decoration: none;
	font-family: sans-serif;
}
.po{

}




.info-title{
	color: #000;
	text-align: center;
	font-size: 65px;
	padding: 30px 20px 50px;
}

.info-section{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	background: #f1f1f1;
	position: relative;
	padding-top: -10px;
	background-color: black;


}

.info-card{
	width: 350px;
	height: auto;
	margin: 0 20px 80px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	position: relative;


}


.container-info-photo img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}



.info-card h2{
	color: #333;
	text-align: center;
	font-size: 25px;
	padding: 20px 5px;
}
.info-card p{
	color: #333;
	text-align: center;
	font-size: 23px;
	padding: 0 5px 15px;
}






 

